.active-dashboard-link {
  background-color: rgba(255, 255, 255, 0.25) !important;
}

table {
  tr {
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
  }
}
thead {
  tr {
    border-color: rgba(255, 255, 255, 0.5) !important;
  }
}

th,
td {
  padding: 0.5rem !important;
}
